<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="trellis_forcelogin" translate="label" sortOrder="1100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Force Login</label>
            <tab>trellis</tab>
            <resource>Trellis_ForceLogin::config</resource>
            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Force Login</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Force Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_action_names" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Allowed Action Names</label>
                    <depends>
                        <field id="trellis_forcelogin/general/enabled">1</field>
                    </depends>
                    <comment>Comma separated list of full action names to allow. Include the route, controller,
                        and action. Example: "catalog_product_view"
                    </comment>
                </field>
                <field id="allowed_cms_pages" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed CMS Pages</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                    <depends>
                        <field id="trellis_forcelogin/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
